$fontColor: #70768e;
$backColor: #f4f6fb;
$sideBarFontColor: #ffffffa6;
$sidebarLiColorOnSelect: #42474e;
$sidebarChildrenbackColor: #000c17;
$white: #fff;
@import "./table.scss";
@import "./treeview.scss";
@font-face {
  font-family: "iransans";
  src: url("../../fonts/IRANSansWeb_Light.woff2") format("woff2");
  src: url("../../fonts/IRANSansWeb_Light.woff") format("woff");
}

@font-face {
  font-family: "dana";
  src: url("../../fonts/dana-fanum-regular.woff2") format("woff2");
  src: url("../../fonts/dana-fanum-regular.woff") format("woff");
}
/* width */
// ::-webkit-scrollbar {
//   width: 12px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px $fontColor;
// }

/* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $fontColor;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $backColor;
// }
.swal-footer {
  text-align: center;
}

body {
  background-color: $backColor;
  color: $fontColor;
  font-family: "iransans";
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.content-box {
  overflow-x: auto;
  background: #fff;
  padding: 20px;
  margin-bottom: 15px;
}
.custome-row {
  .side-column {
    z-index: 1000;
    position: absolute;
  }
  .contetn-column {
    width: 100%;
  }
}
.dropdown-menu {
  border: 1px solid $backColor;
  min-width: 5rem;
  padding: 3px;
  & .show {
    transform: translate(0px, 64px) !important;
  }

  & a:hover {
    background-color: $backColor;
  }
}
.searchBox {
  &:focus-visible {
    border: 1px solid #6c757d !important;
    outline: #6c757d;
    border-radius: 1px !important;
  }
}
.nav {
  padding: 0;
  justify-content: space-between;
  align-items: baseline;
  background-color: $white;

  .navbar-brand {
    margin-left: 0;
    // border-bottom: 1px solid $backColor;
    // box-shadow: 0px 4px 15px $backColor;
    text-align: center;
    padding-bottom: 0.3125rem;
  }
  &-brand-box {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 36%;
    a {
      cursor: pointer;
    }
    @media (max-width: 1280px) {
      & {
        width: 20%;
      }
    }
    @media (max-width: 1024px) {
      & {
        width: 26%;
      }
    }
    @media (max-width: 912px) {
      & {
        width: 58%;
      }
    }
    @media (max-width: 820px) {
      & {
        width: 64%;
      }
    }
    @media (max-width: 767px) {
      & {
        width: 40%;
      }
    }
    @media (max-width: 610px) {
      & {
        width: 45%;
      }
    }
    @media (max-width: 500px) {
      & {
        width: 53%;
      }
    }
    @media (max-width: 450px) {
      & {
        width: 58%;
      }
    }
    @media (max-width: 414px) {
      & {
        width: 62%;
      }
    }
    @media (max-width: 400px) {
      & {
        width: 66%;
      }
    }
    @media (max-width: 375px) {
      & {
        width: 70%;
      }
    }
    @media (max-width: 330px) {
      & {
        position: absolute;
        left: 0;
        top: 20px;
        width: unset;
      }
    }
  }
  &-item {
    text-align: left;
    padding: 10px 20px;
  }
  .thumbnail-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .dropdown-toggle:after {
    display: none;
  }
}

.sidebar {
  z-index: 9;
  width: 230px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid $backColor;
  background: #001529;
  box-shadow: 0px 0px 15px 0 $backColor;
  color: $sideBarFontColor;

  .navbar {
    text-align: center;
    padding: 20px 0;

    .colaps {
      width: 100%;
      .navbar-nav {
        width: 100%;
      }
    }
  }
  ul.temp-ul {
    li.temp-li {
      padding: 10px 0;
    }
  }
  ul.child-ul {
    padding-right: 0.7rem;
    li.child-li {
      padding-top: 15px;
    }
  }
  ul {
    text-align: right;
    direction: rtl;
    padding-right: 0;
    width: 100%;

    li {
      border-bottom: 1px solid #58585a;
      &:last-child {
        border-bottom: none;
      }
      list-style: none;
      text-align: right;
      direction: rtl;
      // padding: 12px 0;

      &:focus,
      &:active,
      &:hover,
      &:focus-within {
        cursor: pointer;
        //background: $sidebarLiColorOnSelect;
        background: $sidebarChildrenbackColor;
        a {
          color: $white;
        }
      }
      a {
        color: $sideBarFontColor;
        text-decoration: none;
        padding-right: 20px;
        padding-left: 20px;
      }
      .parent {
        text-align: right;

        li {
          border-top: 1px solid #58585a;

          a {
            text-align: right;
            &.nav-item {
              padding-top: 0;
              padding-bottom: 0;
              padding-right: 30px;
            }
          }
        }
      }
    }
  }
}
.login_wrapper {
  background-color: #fff;
  height: 100vh;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.login_right_img {
  position: relative;
  &:before {
    background: rgba(42, 80, 143, 0.85);
    z-index: 1;
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }
  &:after {
    content: "";
    position: fixed;
    bottom: 0;
    top: 0;
    overflow: hidden;
    right: -49%;

    width: 250px;

    top: 0px;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 9999;
    border-color: transparent transparent transparent #fff;
    border-width: 350px;
    border-style: solid;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 1400px) {
      display: none;
    }
  }
  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.login_box {
  margin: 0 auto;
  max-width: 400px;
  padding: 30px 0;
  width: 90%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a.logo_text {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: center;
    margin: 0 auto 15px;
    & span {
      background: #8cc63f;
      line-height: 1;
      display: inline-block;
      padding: 3px 5px 3px;
      color: #fff;
      font-weight: 400;
      border-radius: 4px;
      margin-left: 10px;
    }
  }
  .login_form_inner {
    padding: 30px 30px 0;
    text-align: center;
    position: relative;
    margin: 0;

    & h3 {
      margin: 0 0 25px;
      font-size: 22px;
      font-weight: 500;
      font-family: "dana";
      color: #272323;
      position: relative;
      padding: 0 0 15px;
      &:after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 50px;
        height: 1px;
        background: #8cc63f;
        margin: 0 auto;
        bottom: 0;
      }
    }
    form {
      .form-group {
        text-align: right;
      }
      .form-control {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        cursor: text;
        &:focus {
          background-color: #fff;
          border-color: #f4f6fb;
          outline: none !important;
          box-shadow: none;
        }
      }
      .forget-pass {
        color: #8cc63f;
        text-align: left;
        text-decoration: none;
        float: left;
        padding: 10px 0;
        cursor: pointer;
      }
    }
  }
  .btn {
    background: #8cc63f;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 50px 8px 50px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    font-family: "dana";
    border-radius: 50px;
    text-transform: uppercase;
    &:hover {
      background: #8cc63f;
      box-shadow: 0 0 35px #0000001a;
    }
  }
}

.search-sort-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .sortbox {
    display: flex;
    align-items: baseline;
  }
}
.search-sort-box {
  background: white;
  color: $fontColor;
  font-size: 14px;
  .searchbox {
    a {
      background: #d1d1d1;
      color: #000;
      width: 25px;
      height: 28.5px;
      text-align: center;
      i {
        vertical-align: sub;
      }
    }
    input {
      border: 1px solid #dddddd;
      box-shadow: none;
      color: #8f98af;

      &:focus,
      &:active,
      &:focus-visible {
        outline: 0.5px solid #fafafa;
      }
    }
  }
  .sortbox {
    .form-control {
      font-size: 14px;
      &:focus-visible,
      &:focus,
      &:active {
        outline: 1px solid #d1d1d1;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
}

.pageheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ql-editor {
  text-align: right;
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before {
  float: left;
  text-align: right;
}
input[type="color"] {
  height: 38px;
}

.error {
  color: red;
  margin-bottom: 0;
}
.form-group.required label {
  position: relative;
  &:after {
    position: absolute;
    content: "*";
    color: red;
  }
}
.Toastify__toast {
  direction: rtl;
}
.loader {
  text-align: center;
  margin: 15% auto;
}
